*{
    padding: 0;
    margin: 0;

}
body{
     background-image: linear-gradient(to right , rgb(232, 88, 112) , rgb(227, 14, 99) ,
     rgb(205, 76, 130), plum);
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.heading{
    font-size: 50px;
    text-align: center;
    background-image: url("./images/flower.jpeg");
    background-clip: text;
    color: transparent;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.back{
    background-image: url(./images/backgroundgif.gif);
    background-size: cover;
    width: 500px;
    height: 500px;
    border-radius: 50px;
    box-shadow: 20px 20px 80px rgb(13, 171, 228);
      border: 5px solid rgb(13, 171, 228);
}
.back:hover{
    background-image: url(./images/background2gif.gif);
    background-size: cover;
    cursor: pointer;
     box-shadow: 20px 20px 80px rgb(20, 20, 20);
     border: 5px solid rgb(228, 13, 120) ;
}
.button{
    text-decoration: none;
}
.visit{
    font-size: 20px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(223, 61, 115);
    color: rgb(67, 56, 60);
    padding: 15px;
   border-radius: 20px;
   margin-top: 10px;
}
.visit:hover{
  background-color: rgb(63, 62, 62);
  color: aliceblue;
  cursor: pointer;
  text-decoration: none;
}